process {
  executor = 'local'

  withName: VALIDATE_ROI_CHANNELS {
    container = 'imc-python-tools'
  }
  withName: MAKE_SHARED_PANEL {
    container = 'imc-python-tools'
  }
  withName: STACK_ROI {
    container = 'imc-python-tools'
  }
  withName: MAKE_IMAGES_CSV {
    container = 'imc-python-tools'
  }
  withName: STEINBOCK_SEGMENT {
  container = 'ghcr.io/bodenmillergroup/steinbock:0.16.1'
  containerOptions = '--platform linux/amd64 --entrypoint ""'
}

withName: STEINBOCK_MEASURE_INTENSITIES {
  container = 'ghcr.io/bodenmillergroup/steinbock:0.16.1'
  containerOptions = '--platform linux/amd64 --entrypoint ""'
}

withName: STEINBOCK_MEASURE_REGIONPROPS {
  container = 'ghcr.io/bodenmillergroup/steinbock:0.16.1'
  containerOptions = '--platform linux/amd64 --entrypoint ""'
}

withName: STEINBOCK_MEASURE_NEIGHBORS {
  container = 'ghcr.io/bodenmillergroup/steinbock:0.16.1'
  containerOptions = '--platform linux/amd64 --entrypoint ""'
}

withName: STEINBOCK_EXPORT_CSV {
  container = 'ghcr.io/bodenmillergroup/steinbock:0.16.1'
  containerOptions = '--platform linux/amd64 --entrypoint ""'
}

withName: STEINBOCK_EXPORT_GRAPHS {
  container = 'ghcr.io/bodenmillergroup/steinbock:0.16.1'
  containerOptions = '--platform linux/amd64 --entrypoint ""'
}
}

profiles {
  docker {
    docker.enabled = true
  }
}

timeline {
  enabled = true
  file = "${params.outdir}/timeline.html"
}

report {
  enabled = true
  file = "${params.outdir}/report.html"
}

trace {
  enabled = true
  file = "${params.outdir}/trace.txt"
}